* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Vollkorn", Arial, Helvetica, sans-serif;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.grid-layout {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content ads"
    "footer footer footer";
}

@media (max-width: 1200px) {
  .grid-layout {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav ads ads"
      "footer footer footer";
  }
}

@media (max-width: 760px) {
  .grid-layout {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "ads"
      "footer";
  }
}
